


body {
    background-color: #C0C0C0;     
    margin: 4px;
    width: 100%;
    line-height: 1.5;
    text-align: center;
    color: #333;
}

h1 {
    font-size: 44px;
    font-family: 'Merriweather', serif;
    margin-bottom: -1;
}

h1:hover{
    translate:scale(1.2);
}

#main {
    display: block;
    border-radius: 5px;
    background: #C0C0C0;
    padding: 10px 0px 0px 0px;
}


#main p {
    font-size: 16px;
    font-family: 'EB Garamond', serif;
    font-weight:bold;
    color: #333;
    margin-top: -37px;
}

h3 {
    background-color:#C0C0C0;
    padding: 0px;
    margin: 0px;

}

a {
    color: grey;
}

a:hover {
    color: blue;
}


a:visited {
    color: purple;
}

a {
    text-decoration: none;
}


img { 
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
    margin-top:16px;
    border-radius: 2px;

}

#image-div:hover {
    translate: scale(1.2);
}

#img-div {
    background: #C0C0C0;
    border-top-left-radius: 4px; 
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 680px;
    margin: 60px;


}

#image-caption {
    margin: 18px 0 5px 0;
    font-size: 16px;
    color: black;
    font-family: 'EB Garamond', serif;
    text-align: center;

}

#tribute-info {
    background-color: #C0C0C0;
    text-align: center;
    font-family: serif;
    margin: 0;
    padding: 20px 0px 0px 0px;
}

ul {
    max-width: 500px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 2.0;
}

li {
    margin: 16px 0;
}

blockquote {
    font-size: 14px;
    font-style: italic;
    font-family: sans-serif;
    text-align: left;
    max-width: 500px;
    text-align: center;
    margin: 0 auto;

}

.para {
    font-size: 14px;
    font-style: italic;
    font-family: sans-serif;
    margin: 0px;
    padding: 30px;
    background-color: #C0C0C0;
    line-height: 20px;
}

/* @media queries for making the image 

